[submodule "part9/patientor/part9/patientor/patientor-frontend"]
	path = part9/patientor/part9/patientor/patientor-frontend
	url = https://github.com/ksn-ark/patientor-frontend.git
[submodule "part9/patientor/patientor-frontend"]
	path = part9/patientor/patientor-frontend
	url = https://github.com/ksn-ark/patientor-frontend.git
[submodule "part10/rate-rpository-app"]
	path = part10/rate-rpository-app
	url = https://github.com/ksn-ark/rate-repository-app.git
[submodule "part10/rate-repository-app"]
	path = part10/rate-repository-app
	url = https://github.com/ksn-ark/rate-repository-app.git
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/ksn-ark/full-stack-open-pokedex
